<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Book</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/4f0ebcc72c.js"
      crossorigin="anonymous"
    ></script>
    <script type="application/javascript" src="/js/main.js"></script>
    <script type="application/javascript" src="/js/modal.js"></script>
    <link rel="stylesheet" href="/css/output.css" />
  </head>

  <body
    class="h-screen bg-sm-background lg:bg-lg-background xl:bg-xl-background bg-cover"
  >
  <div class="flex flex-col bg-white/50 w-5/6 mx-auto px-2 shadow-xl shadow-max-yel-green-500/50">
    <div class="navbar mt-7 flex-wrap md:flex-nowrap bg-gradient-to-r from-base-100">
      <div class="md:navbar-start">
        <div class="dropdown">
          <label tabindex="0" class="btn btn-ghost btn-circle">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 stroke-[#073D00]" fill="forest-green"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
            </svg>
          </label>
          <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
            <li>
              <!-- ||Modal Create Recipe START >>>>>>> -->
              <!-- <<<<<<< END Modal Create Recipe ||  -->
              <label for="my-modal-6" class="btn">Create Recipe</label>

              <!-- <<<<<<< END Modal Create Recipe ||  -->
            </li>
            <li> <a href="/favorites" class=" flex-1 btn btn-outline btn-success">Go to Favorites</a></li>
            <li> <a class="btn btn-outline btn-success flex-1" href="/feed">Return to Feed</a></li>
            <li> <a href="/logout" class="flex-1 btn btn-outline btn-success w-full">Logout</a></li>
          </ul>
        </div>
      </div>
      <div class="navbar-center">
        <a class="btn btn-ghost normal-case text-xl">
          <p class="font-bold text-dark-slate-gray"><strong><em>Shalom</strong>
            <%= user.userName %>!</em>
          </p>
        </a>
      </div>
      <div class=" md:navbar-end">
        <form method="POST" name="" action="/recipe/searchRecipes">
          <div class="form-control w-[250px]">
            <input type="text" id="searchBar" class="input input-bordered" />
          </div>
        </form>
      </div>
    </div>
  </div>
    <header class="container"></header>
  </body>
</html>
