<html>
  <body>
    <!-- Put this part before </body> tag MODAL CREATE RECIPE CONTENT-->
    <input type="checkbox" id="my-modal-6" class="modal-toggle" />
    <div class="modal modal-bottom sm:modal-middle bg-pale-spring-bud">
      <div class="modal-box">
        <!--form start-->
        <div class="flex justify-end">
          <div class="py-2 px-2 my-2 bg-pale-spring-bud w-full mx-auto flex-3">
            <h2 class="text-caput-mortuum font-bold text-2xl">
              Have a recipe to share?
            </h2>
            <!-- Create Recipe-->
            <form
              action="/recipe/createRecipe"
              enctype="multipart/form-data"
              method="POST"
            >
              <div class="form-control w-full max-w-xs">
                <label for="name" class="label">
                  <span
                    class="label-text text-lg font-bold text-dark-slate-gray"
                    >Recipe name</span
                  >
                </label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  placeholder="recipe name"
                  class="input input-bordered w-full max-w-xs bg-white text-dark-slate-gray"
                />
              </div>
              <div id="recipe-form" class="form-control">
                <label for="ingredients" class="label">
                  <span
                    class="label-text text-lg font-bold text-dark-slate-gray"
                    >Ingredients</span
                  >
                </label>
                <textarea
                  id="ingredients"
                  name="ingredients"
                  class="input input-bordered w-full max-w-xs bg-white text-dark-slate-gray"
                  placeholder="Ingredients"
                ></textarea>
                <button
                  type="button"
                  class="btn btn-outline btn-success"
                  id="add-ingredient-btn"
                >
                  + ingredient
                </button>
              </div>
              <div class="form-control">
                <label for="directions" class="form-label">
                  <span
                    class="label-text text-lg font-bold text-dark-slate-gray"
                    >Directions</span
                  >
                </label>
                <textarea
                  class="textarea textarea-bordered h-24 bg-white text-dark-slate-gray"
                  id="directions"
                  name="directions"
                ></textarea>
              </div>
              <div class="mb-3">
                <label
                  for="imgUpload"
                  class="form-label text-lg font-bold text-dark-slate-gray"
                  >Image</label
                >
                <input
                  type="file"
                  id="imageUpload"
                  name="file"
                  class="form-control text-emerald-900 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-bold file:bg-violet-50 file:text-forest-green hover:file:bg-success-green hover:file:text-dark-slate-gray"
                />
              </div>
              <button
                type="submit"
                class="btn btn-outline btn-success"
                value="Upload"
              >
                Add A Recipe
              </button>
            </form>
          </div>
        </div>
        <!--form end-->
        <div class="modal-action bg-pale-spring-bud">
          <label for="my-modal-6" class="btn btn-outline btn-success"
            >Close</label
          >
        </div>
      </div>
    </div>
  </body>
</html>
