<%- include('partials/header') -%>

    <main class="container">
        <div>
            <a href="/login"> Login</a>
            <a href="/signup"> Signup</a>
        </div>
    </main>


    <%- include('partials/footer') -%>