<%- include('partials/header') -%>

  <div class="flex">
    <section class="xl:flex-1 sm:max-lg:hidden"></section>
    <section class="flex flex-1 justify-center items-center h-screen">
      <div
        class="bg-white flex flex-col p-14 md:shadow-solid-primary md:border-2 md:border-black md:py-6 md:px-4 md:max-w-[500px]">
        <h1 class="mt-8 mb-2 text-8xl font-bold text-dark-slate-gray lg:backdrop-blur-xs">
          Mazel
        </h1>
        <figcaption class="mb-2 text-dark-slate-gray text-2xl font-semibold backdrop-blur-xs pb-8">
          A place to find, talk about, and save the recipes you love.
        </figcaption>
        <div>
          <a class="btn btn-outline btn-success lg:max-xl:bg-[#B5CFC8]" href="/login">
            Login</a>
          <a class="btn btn-outline btn-success lg:max-xl:bg-[#B5CFC8]" href="/signup">
            Signup</a>
        </div>
      </div>
    </section>
  </div>

  <%- include('partials/footer') -%>